<h1>Create hours</h1>

<%= form_for @hour do |h| %>
  <%= render 'shared/error_messages' %>
  <%= h.label :date %>: &nbsp; <%= h.text_field :date %> <br />
  <%= h.label :location %>: &nbsp; <%= h.text_field :location %> <br />
  <%= h.label :start %>: &nbsp; <%= h.text_field :start %><br />
  <%= h.label :slots %>: &nbsp; <%= h.text_field :number_slots %> <br /> 

  <%= h.submit "create" %>
<% end %>
