<%= @hour.date %>
<br />
<%= @hour.location %>

<p><%= link_to "all hours", hours_path %></p>

<h2>slots</h2>
<% if @hour.slots.empty? %>
  <p>no slots created yet</p>
<% else %>
  <%= render @slots %>
<% end %>


<%= render 'shared/slot_form' %>

