<p><%= form_for(@hour, :remote => true) do |h| %>
  <%= render 'shared/error_messages' %>
  <table>
    <tr>
      <td><%= h.label :date %></td>
      <td><%= h.text_field :date %></td>
    </tr>
    <tr>
      <td><%= h.label :location %></td>
      <td><%= h.text_field :location %></td>
    </tr>
    <tr>
      <td><%= h.label :slots %></td>
      <td><%= h.text_field :number_slots %></td>
    </tr>
    <tr>
      <td></td>
      <td align=right><%= h.submit "create" %></td>
    </tr>
  </table>


<% end %>
</p>
